body{
	background-color: #ff71ce;
	background-image: url("assets/images/core/bg.jpg");
    background-repeat: repeat;
}

#app-container{
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
	top: 0px;
}

#game-over{
	position: absolute;
	width: 552px;
	height: 66px;

	left: ((750px - 552px)/2);
	top: 25%;

	opacity: 0;
	overflow: visible;
	z-index:100;
	pointer-events: none;

}